security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # Role hierarchy: ROLE_ADMIN inherits ROLE_API
    role_hierarchy:
        ROLE_ADMIN: [ROLE_API]

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        users_in_memory:
            memory:
                users:
                    admin: { password: '$2y$13$/0ya3NTVrUXGNNTN1VLWUe0dBqjz1wxlHtHgrsGAGB/k4aePHwEyy', roles: ['ROLE_ADMIN'] } # password: admin
                    api_user: { password: '$2y$13$rGIw.Q.vOu.9432mJpr0XOfNAgAidMyr.FgR/C3LpA7cARUHz8VZG', roles: ['ROLE_API'] } # password: api_pass




    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: users_in_memory
            http_basic:
                realm: Secured Area

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access the whole application
    access_control:
         - { path: ^/dashboard, roles: ROLE_ADMIN }
         - { path: ^/api, roles: ROLE_API }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
